
.DS_Store
electronic-score-exposition-tv-os/electronic-score-exposition-tv-os.xcodeproj/project.xcworkspace/xcuserdata/eldarsadykov.xcuserdatad/UserInterfaceState.xcuserstate
electronic-score-exposition-tv-os/electronic-score-exposition-tv-os.xcodeproj/project.xcworkspace/xcuserdata/eldarsadykov.xcuserdatad/UserInterfaceState.xcuserstate
.jekyll-cache/Jekyll/Cache/Jekyll--Cache/b7/9606fb3afea5bd1609ed40b622142f1c98125abcfe89a76a661b0e8e343910
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/09/15b78e900f69c72fb38a1fb75b5b82cedb42555cb3825405a65ddb8f672cc0
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/23/384ebd675bcdbd4109249cb569b8fc01a2ea5aa1b3a6284af52b91841db680
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/49/4396fea1e86dcaa28acada647dbf045abda9dbe2a9d40e1a84846adc058899
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/4e/a24c9b718e9f776ca0370b86596670c7beb9753b44494744e3d6ebf7c04da2
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/5c/d7a92205bd13f4e5639c453b617b127fbe0a91bf9afad53ba6a21431872971
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/70/31119ab7d534e1a4d93e8c382018a60e8029837d8710903b8e65d75574eb19
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/8f/a48aa851e88dc359013e54f102e5bf1afbfe22f810e80baa4741b7c3de64af
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/92/ddd2e54ee09ff37563e9ab0c9b519bf52f35580158c4043bcc78b154201baf
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/99/80024609c0c050fb04d596c54a324dd08dac2cf8dee51adeae7a66e499abae
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/ab/b8a05a0f5d6ab2efe9ddd00fdfad7386e9faea1af8a3c04c28767fb6d26179
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/ba/d521d21e72894915eb304e350f31dd6c1c9ba90b07ad1eb70984327ce05b6d
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/be/9655d546148641f8b74c6f1017a94245b1cd66e330e8d7884f91df5d3908ff
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/bf/db8e0da1767e91565bd3e5bdc2dfc5a6f4cefac6a010c194f0b582819b68dc
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/c1/661164a9f147e5978b68648cee66c50600782582e82e151aa8639f0a0de34d
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/d0/9828b0005f320b718a9fe54a325d0152aeaca24a75d0ed67274ecc10fff61d
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/dd/89e407e4f3d88c65e0d5e16c1b025cbd51d49b93dc6972ff136abdee64014c
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/e3/6a8b870d200bc6e4cc4b3c584bed99a254508fe38f215d12f95651e8b30113
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/e3/b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/e8/077a764b1491eb9e262fe53470722dae8808d0e31e2041a6dcfa6604bb63b0
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/eb/5b3df780b8fd05adcfeff701a92123bd87517a9211094bdbd6b0fc2a5c42c2
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/eb/a267d9f828275df1069016a62355ecb3e1bb5c9eb7c9501c578e9b6f21571c
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/f1/b1a4a53ff11651cd381363e72a01feea2b871ba93b3cebc5ed001d94fb8007
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/f3/92aee454ec882270125e32bb1a5a18b02ccaccc0b304cac0f2ac1d06bdf9aa
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/fa/48d02279b1a5c953cef9c72f91a3e0bbd5adb261210664a256b8aa781fe6bd
_site/404.html
_site/about/index.html
_site/assets/main.css
_site/assets/main.css.map
_site/assets/minima-social-icons.svg
_site/feed.xml
_site/first-run.html
_site/index.html
_site/resources/index.html
_site/start.html
electronic-score-exposition-tv-os/electronic-score-exposition-tv-os.xcodeproj/project.xcworkspace/xcuserdata/eldarsadykov.xcuserdatad/UserInterfaceState.xcuserstate
electronic-score-exposition-tv-os/electronic-score-exposition-tv-os.xcodeproj/project.xcworkspace/xcuserdata/eldarsadykov.xcuserdatad/UserInterfaceState.xcuserstate
